@mixin conteiner {
    width: 100%;
    padding: 0 1rem;
    max-width: calc(1400px + 2rem);
    margin: 0 auto;
  }
  
  @mixin normaLizeImg {
    width: 100%;
    & > img {
      width: 100%;
      display: block;
    }
  }
  
  @mixin radiusImages {
    overflow: hidden;
    border-radius: $spasing;
  }
  
  @mixin radiusContainer {
    overflow: hidden;
    border-radius: 12px;
  }
  
  @mixin formDetals {
    margin: $margin-form;
    font-size: 14px;
    display: block;
  }
  
  
  @mixin string {
    display: flex;
    flex-direction: row;
  }
  
  @mixin column {
    display: flex;
    flex-direction: column;
  }