$default-text-color: rgb(34, 34, 34);
$title-text-color: rgb(72, 72, 72);
$footer-text-color: #767676;
$white-color: #ffffff;
$spasing: 8px;
$margin-form: 16px 0;
$text-weight: 600;
$footerSpasing: 4px;
